<div class="row">
  <div class="col-sm-auto">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-sm-auto">
          <div class="btn-toolbar">
            <button class="btn btn-success m-1" type="submit" [disabled]="recipeForm.invalid">Save</button>
            <button class="btn btn-danger m-1" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" id=imageUrl class="form-control" formControlName="imageUrl" #imagePath>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Description</label>
            <textarea type="text" id=description class="form-control" formControlName="description" rows="6"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" formArrayName="ingredients">
            <div class="row"
                 *ngFor="let ing of recipeForm.get('ingredients')['controls']; let i = idx"
                 [formGroupName]="i"
                 style="margin-top: 10px"
            >
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-sm-2">
                <input type="number" class="form-control" formControlName="amount">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
              </div>
             </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
