<div class="container">

  <div class="chapter 15 handling forms">
    <h3>Template-driven setting of the form</h3>
    <app-basic-form></app-basic-form>

    <h3>Reactive setting of the form</h3>
    <app-basic-form-reactive></app-basic-form-reactive>
  </div>

<!--    <div class="chapter 11 routing-lessons">-->
<!--      <app-routing-proj></app-routing-proj>-->
<!--    </div>-->
<!--  <div class="chapter 9">-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12">-->
<!--        <app-new-account></app-new-account>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <hr>-->
<!--      <div class="col-xs-12">-->
<!--        <app-account *ngFor="let account of accounts" [account]="account">-->
<!--        </app-account>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <hr>-->
<!--  <div class="chapter 7">-->
<!--    <app-basic-directive></app-basic-directive>-->
<!--  </div>-->

<!--  <hr>-->
<!--  <div class="chapter 5 end">-->
<!--    <app-gamecontrol-->
<!--      (intervalFired)="onIntervalFired($event)">-->
<!--    </app-gamecontrol>-->
<!--    <p>Odd numbers: {{oddArray.length}}</p>-->
<!--    <p>Even numbers: {{evenArray.length}}</p>-->

<!--    <table>-->
<!--      <tr>-->
<!--        <td>Odd</td>-->
<!--        <td>Even</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <app-odd *ngFor="let odd of oddArray" [number]="odd"></app-odd>-->
<!--        </td>-->
<!--        <td>-->
<!--          <app-even *ngFor="let even of evenArray" [number]="even"></app-even>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--  <br>-->
<!--  <hr>-->

<!--  <div class="chapter 5">-->
<!--    <app-cockpit-->
<!--      (serverCreated)="onServerAdded($event)"-->
<!--      (bpCreated)="onServerBlueprintAdded($event)"-->
<!--    ></app-cockpit>-->
<!--    <hr>-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <button class="btn btn-primary" (click)="onChangeFirst()">Change first</button>-->
<!--        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first</button>-->
<!--        <app-server-element *ngFor="let serverElement of  serverElements" [srvElement]="serverElement">-->
<!--          <p #contentParagraph>-->
<!--            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{serverElement.content}}</strong>-->
<!--            <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>-->
<!--          </p>-->
<!--        </app-server-element>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <hr>-->
<!--  <div class="chapter 1-4">-->
<!--    <app-servers></app-servers>-->
<!--  </div>-->

</div>
