<div class="chapter 5 end">
  <app-gamecontrol
    (intervalFired)="onIntervalFired($event)">
  </app-gamecontrol>
  <p>Odd array length: {{oddArray.length}}</p>
  <p>Even array length: {{evenArray.length}}</p>

  <table>
    <tr>
      <td>Odd</td>
      <td>Even</td>
    </tr>
    <tr>
      <td>
        <app-odd *ngFor="let odd of oddArray" [number]="odd"></app-odd>
      </td>
      <td>
        <app-even *ngFor="let even of evenArray" [number]="even"></app-even>
      </td>
    </tr>
  </table>
</div>
