<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdatedServerName($event)">

<button class="btn btn-primary" [disabled]="getAllowNewServer()" (click)="onCreateServer()">Add Server</button>
<p [innerText]="!getAllowNewServer()"></p>
<p *ngIf="serverCreated"; else noServer>{{serverCreationStatus}}</p>
<ng-template #noServer>{{serverCreationStatus}}</ng-template>

<hr>
<!--<app-server *ngFor="let server of servers"></app-server>-->

<hr>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>

<hr>
<p>Enter your value: </p> <input type="text" [(ngModel)]="username">
<p>Username : {{username}}</p>
<button class="btn btn-primary" [disabled]="!isUsernameNotEmpty()" (click)="clickedButton()">Username Not Empty</button>>

